@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.product-item {
  animation: fadeInZoom 1s ease forwards; /* Áp dụng hiệu ứng */
  opacity: 0; /* Bắt đầu từ trạng thái mờ */
}
